@import '../variable.less';
.side-nav{
    position:fixed;
    z-index: 1000;
    @media(min-width:(@smallMedia - 1)){
        padding: 0;
        margin-left:0;
        max-width:@sideNavWidth;
        .navbar ul {
            float: none;
            display:block;
        }
        .navbar{
            height:100vh;
            display: block;

        }
        .navbar-brand{
            height:150px;
            width:150px;
            align-content: center
        }
    }
    @media (max-width:@smallMedia) {
        width:100vw;
        overflow:hidden
    }
}