@import './variable';
.content {
    
    @media(min-width:(@smallMedia - 1)){
        margin-top: 50px;
        margin-left:@sideNavWidth   
    }
    @media (max-width:@smallMedia) {
        margin-top: @mobileSideNavHeight;
    }
    margin:20px;
}

#base>div{
    overflow: hidden;
}

.capitalize {
    text-transform: capitalize
}

.inverted {
    filter: invert(100%)
}